{% load static %}
{% csrf_token %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

{% if photo_list %}
    {% for photo in photo_list %}
        <div>
            <div>
                <a href="{% url 'webapps:detail' photo.uid %}">
                    <img src="{% static 'photos' %}/{{photo.file_path}}"><br/>
                </a>
            </div>
            <div>
                <p><span>日付</span><span>{{photo.date}}</span></p>
                <p><span>いいね数</span><span>{{photo.favorites}}</span></p>
                <p><span>コメント数</span><span>{{photo.comments}}</span></p>
                <p><span>回帰誤差</span><span>{{photo.regression_error}}</span></p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No Photo are available.</p>
{% endif %}
