<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>タイトル</title>
<link href="{% static 'lib/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<script src="{% static 'lib/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/js/jquery.lazy.min.js' %}"></script>
<script src="{% static '/js/relation.js' %}"></script>

<div class="container bg-info" id="modal_thumbnail" data-photo-uid="{{photo.uid}}" data-file-path="{{photo.file_path}}">
    <div class="row">
        <!-- Selcted photo -->
        <div class="col-sm-5">
            <a href="#" class="modal_thumbnail_photo thumbnail" id="modal_body_photo"></a>
        </div>
        <!-- Main relation -->
        <div class="col-sm-7">
            <div class="row" id="modal_body_photo_main_relation"></div>
        </div>
    </div>

    <!-- Sub relation -->
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab0" data-toggle="tab">全体</a></li>
            <li><a href="#tab1" data-toggle="tab">車両(<span id="info_tab1"></span>)</a></li>
            <li><a href="#tab2" data-toggle="tab">風景(<span id="info_tab2"></span>)</a></li>
            <li><a href="#tab3" data-toggle="tab">視点(<span id="info_tab3"></span>)</a></li>
            <li><a href="#tab4" data-toggle="tab">地域(<span id="info_tab4"></span>)</a></li>
        </ul>
        <div id="relation_tab_content" class="tab-content">
            <div class="tab-pane fade in active" id="tab0"></div>
            <div class="tab-pane fade" id="tab1"></div>
            <div class="tab-pane fade" id="tab2"></div>
            <div class="tab-pane fade" id="tab3"></div>
            <div class="tab-pane fade" id="tab4"></div>
        </div>
    </div>
</div>


</body>
</html>