<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>タイトル</title>
<link href="{% static 'lib/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<script src="{% static 'lib/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/js/jquery.lazy.min.js' %}"></script>
<script src="{% static 'js/relation.js' %}"></script>

<div class="container bg-info" id="modal_thumbnail"
     data-photo-uid="{{photo.uid}}" data-file-path="{{photo.file_path}}" data-relation-type="{{relation_type}}">
    <div class="row">
        <div id="type-tab">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab0" data-toggle="tab" data-relation-type="0">全体</a></li>
                <li><a href="#tab1" data-toggle="tab" data-relation-type="5">車両</a></li>
                <li><a href="#tab2" data-toggle="tab" data-relation-type="3">風景</a></li>
                <li><a href="#tab3" data-toggle="tab" data-relation-type="1">視点</a></li>
                <!--
                <li><a href="#tab4" data-toggle="tab" data-relation-type="4">地域</a></li>
                -->
            </ul>
        </div>
    </div>
    <div class="row" id="modal_body_photo_main_relation"></div>
</div>


</body>
</html>