/*
    common
*/
div {
    height: inherit;
}
.thumbnail {
    display: inline-block;
    background-color: rgba(0,0,0,0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}


/*
    main
*/
.photo_wrapper {
    position: relative;
    height: 256px;
}
.photo_info {
    position: absolute;
    height: 28px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/*
    modal
*/
.modal_thumbnail_content {
    width: 90%;
}

/* selected photo */
/* relation(common) */
.modal_thumbnail_photo {
    height: 400px;
}

/* main relation */
.modal_thumbnail_main_row {
    height: 50%; /* 選択画像の表示領域の半分の高さで表示 */
}

/* sub relation */
.modal_thumbnail_sub_table {
    table-layout:fixed;
}
.modal_thumbnail_sub_row {
    width: 200px;
    height: 200px;
}
